/**
 * Board Display CSS
 **/

.board td {
    height: 20px;
    width: 20px;
    border: black solid 1px;
  
}

.board {
  border-spacing: 2px;
}
.board .roomINT,
.board .outside {
    border: none;
}

.board .cnTL {
    border-top: black solid 1px;
    border-left: black solid 1px;
}

.board .red {
    border-color: firebrick;
    background: firebrick;
}