<!DOCTYPE html>
<html lang="en" ng-app="detective">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Detective</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">
  </head>

  <body ng-controller="main">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">Detective</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form" style="text-align:center;" ng-submit="exec(alinput)">
            <input type="text" class="form-control" placeholder="{{aloutput || 'Input command ...'}}" size="70" ng-model="alinput">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
           
            <li class="active"><a href="" ng-click="isMaster = true;">Master</a></li>
            
            <li ng-repeat="plyr in players"><a href="" ng-click="load(plyr.name);">{{plyr.name}}</a></li>
            
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <h1 class="page-header">{{(isMaster ? 'Master' : player.name)}}</h1>
          
          <!--Master Guess Dsiplay-->
          <div class="row placeholders" ng-show="isMaster">
            <div class="col-xs-7 col-sm-4 ">
              <img src="img/person/green.png"  class="img" alt="person">
              <h4>Mr. Green</h4>
              <span class="text-muted">94%</span>
            </div>
            
            <div class="col-xs-7 col-sm-4 ">
              <img  class="img" alt="room" src="img/room/hall.png">
              
              <h4>Hall</h4>
              <span class="text-muted">66.6%</span>
            </div>
            
            <div class="col-xs-7 col-sm-4 ">
              <img src="img/weapon/knife.png" class="img" alt="weapon">
              <h4>Knife</h4>
              <span class="text-muted">4%</span>
            </div>
          </div>
          
          <!--Player Hand Guess Dsiplay-->
          <div class="row placeholders" ng-show="!isMaster">
            
            
            <div ng-repeat="card in player.sure" class="col-sm-2 ">
              <img src="img/person/green.png"  class="img" alt="person">
              <h4>Mr. Green</h4>
              <span class="text-muted">94%</span>
            </div>
        
          </div>
          

          <h2 class="sub-header" >{{(isMaster ? 'Master Guess':'Maybes')}}</h2>
          
          
          <div  ng-show="isMaster" class="table-responsive">
            <table class="table table-striped">
              
               <thead>
                <tr>
                  <th>Person</th>
                  <th>Room</th>
                  <th>Weapon</th>
                </tr>
              </thead>
              
              <tbody>
               
                <tr ng-repeat="row in masterGuess">
                  <td>{{row.person || '--' }}</td>
                  <td>{{row.room || '--' }}</td>
                  <td>{{row.weapon || '--' }}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          
          <!--The Player's Display Table-->
          <div  ng-show="!isMaster" class="table-responsive">
            <table class="table table-striped">
              
               <thead>
                <tr>
                  <th>Person</th>
                  <th>Room</th>
                  <th>Weapon</th>
                </tr>
              </thead>
              
              <tbody>
               
                <tr ng-repeat="row in player.guess">
                  <td>{{row.person || '--' }}</td>
                  <td>{{row.room || '--' }}</td>
                  <td>{{row.weapon || '--' }}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          
          
        </div>
      </div>
    </div>

    <script>var $ = jQuery = require('./js/jquery.js');</script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script>process.app = angular.module('detective', [])</script>
    <script src="js/index.js"></script>
    <script src="js/wizard.js"></script>

  </body>
</html>
