<!DOCTYPE html>
<html lang="en" ng-app="detective">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Detective</title>

  <link href="css/jquery.typeahead.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/template.css" rel="stylesheet">
</head>

<body ng-controller="main">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">Detective</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <p class="navbar-text navbar-right" id="turnCounter">Current Turn: {{currentTurn}}</p>
        <form class="navbar-form" style="text-align:center;" ng-submit="exec(alinput)">
          <div class="typeahead-container">
            <div class="typeahead-field">
              <span class="typeahead-query">
                  <input class="form-control" size="70" placeholder="{{aloutput || 'Input command ...'}}" ng-model="alinput" type="text">
                </span>
            </div>
          </div>
        </form>

      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">

          <li class="{{isMaster ? 'active':''}}"><a href="" ng-click="isMaster = true;">Master</a>
          </li>

          <li ng-repeat="(index, plyr) in players" class="{{plyr.name===player.name && !isMaster ? 'active':''}}">
            <a href="" ng-click="load(index);"> <span ng-show="plyr.turn===currentTurn" class="glyphicon glyphicon-triangle-right"></span> {{plyr.name}} <span ng-show="plyr.detective" class="glyphicon glyphicon-search"></span>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h1 class="page-header">{{(isMaster ? 'Master' : player.name)}} {{( (!isMaster && player.name!==player.charName ) ? ' ('+player.charName+')':'' )}}</h1>
       
        <!--Master Guess Dsiplay-->
        <div class="row placeholders" ng-show="isMaster">
          <div class="col-xs-7 col-sm-4 ">
            <img src="img/person/green.png" class="img" alt="person">
            <h4>Mr. Green</h4>
            <span class="text-muted">94%</span>
          </div>

          <div class="col-xs-7 col-sm-4 ">
            <img class="img" alt="room" src="img/room/hall.png">

            <h4>Hall</h4>
            <span class="text-muted">66.6%</span>
          </div>

          <div class="col-xs-7 col-sm-4 ">
            <img src="img/weapon/knife.png" class="img" alt="weapon">
            <h4>Knife</h4>
            <span class="text-muted">4%</span>
          </div>
        </div>

        <!--Player Hand Guess Dsiplay-->
        <div class="row placeholders" ng-show="!isMaster">


          <div ng-repeat="card in player.sure" class="col-sm-2 {{$first ? 'col-sm-offset-1':''}}">
            <img src="{{getImagePath(card)}}" class="img" alt="sure card">
            <h4>{{card}}</h4>
            
          </div>

        </div>


        <h2 class="sub-header">{{(isMaster ? 'Master Guess':'Maybes')}}</h2>


        <div ng-show="isMaster" class="table-responsive">
          <table class="table table-striped">

            <thead>
              <tr>
                <th>Person</th>
                <th>Room</th>
                <th>Weapon</th>
              </tr>
            </thead>

            <tbody>

              <tr ng-repeat="row in masterGuess">
                <td>{{row.person || '--' }}</td>
                <td>{{row.room || '--' }}</td>
                <td>{{row.weapon || '--' }}</td>
              </tr>

            </tbody>
          </table>
        </div>

        <!--The Player's Display Table-->
        <div ng-show="!isMaster" class="table-responsive">
          <table class="table table-striped">

            <thead>
              <tr>
                <th>Person</th>
                <th>Room</th>
                <th>Weapon</th>
              </tr>
            </thead>

            <tbody>

              <tr ng-repeat="row in player.guess">
                <td>{{row.person || '--' }}</td>
                <td>{{row.room || '--' }}</td>
                <td>{{row.weapon || '--' }}</td>
              </tr>

            </tbody>
          </table>
        </div>

      <div class="possibleListing" ng-show="!isMaster">
        {{player.possible}}
      </div>

      </div>
    </div>
  </div>


  <!--The init wizzard-->
  <div ng-controller="wizard">

    <div id="init-modal-players" data-keyboard="false" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Welcome To Detective</h4>
          </div>
          <div class="modal-body">

            <h3>Player Order</h3>
            <section>
              <p>Set the order of the players, Miss. Scarlet always moves first. You may assign each player a nickname, and check the box next to Detective's player.</p>
              <ul id="playersSort" class="sortable sortable-list connected">
                <li ng-repeat="(index,char) in chars" data-cid="{{index}}" class="{{index == 0 ? 'disabled' : ''}}" ng-repeat-end="repeatDone()">
                  <span class="charname">{{char}}</span>

                  <input type="text" class="form-control" ng-model="plnames[index]">
                  <input type="checkbox" class="form-control" ng-model="char2det[index]">
                </li>
              </ul>
              <br>
              <h4>Non Playing Characters:</h4>
              <ul id="unusedPlayers" class="sortable sortable-list connected">


              </ul>

            </section>


          </div>
          <div class="modal-footer">
            <button ng-click="wizNext()" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </div>

    <div id="init-modal-cards" data-keyboard="false" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Welcome To Detective</h4>
          </div>
          <div class="modal-body">

            <h3>Detective's Cards</h3>
            <section>
              <p>Please list all the cards in Detective's hand</p>
              <div class="typeahead-container">
                <div class="typeahead-field">
                  <span class="typeahead-query">
                  <input id="input-addmycards" ng-model="add" ng-enter="addToMyCards()" type="text" class="" autocomplete="off"></span>
                <span class="typeahead-button">
                 
                  <button class="" ng-click="addToMyCards()">Add</button>
                  </span>
                </div>
              </div>
              <ul>
                <li ng-repeat="(index,card) in myCards track by index">{{card}}</li>
              </ul>
            </section>

          </div>
          <div class="modal-footer">
            <button ng-click="wizDone();" class="btn btn-success">Finish</button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <script>
    var $ = jQuery = require('./js/jquery.js');
  </script>
  <script src="js/bootstrap.js"></script>
  <script src="js/angular.js"></script>
  <script>
    process.app = angular.module('detective', [])
  </script>
  <script src="js/jquery.typeahead.js"></script>
  <script src="js/ng-custom.js"></script>
  <script src="js/sortable.js"></script>
  <script src="js/index.js"></script>
  <script src="js/wizard.js"></script>

</body>

</html>